* {
    margin: 10px;
    padding:10px;
    
}

h1{
    color:rgb(22, 22, 23);
    text-align: center;
}

p{
    font-family: Arial, sans-serif;
    text-align: left;
}

h3 {
    font-size: 25;
    color:rgb(7, 7, 7);
    text-align: left;
}

body {
    
    background-image: url("./Fundo.png");
    background-size: 200%;
    background-repeat: no-repeat;
    
}

img{

    width:200px;  
    height: 200px;
    border-radius: 50px;
}

.container {
    
    display: flex;
    align-content: center;
    justify-content: center;
    
}

footer{
    font-family: Arial, sans-serif;
    text-align: center;
    color: rgb(6, 6, 6);
}